<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711231873472-f71c8kc56p0o7gsmnuojh0fvji3oav7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711231873472-f71c8kc56p0o7gsmnuojh0fvji3oav7p</string>
	<key>API_KEY</key>
	<string>AIzaSyD6CgRlta0_AuGwR4AzygDctzuAazWhIgI</string>
	<key>GCM_SENDER_ID</key>
	<string>711231873472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mahisoft</string>
	<key>PROJECT_ID</key>
	<string>mahisoft-kamino-react-native</string>
	<key>STORAGE_BUCKET</key>
	<string>mahisoft-kamino-react-native.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711231873472:ios:3567c8e5f4dff38aae2825</string>
</dict>
</plist>
